@import "../../../styles/helpers";

.btnIcon {
  font-size: 14px !important;
}

.elasticTextarea {
  width: 100%;
  border: 1px solid $base-middle-gray;
  border-radius: 8px;
  color: $base-dark-gray;
}

.select {

}

.helpBlock {
  display: block;
  margin-top: 8px;
}
